<!-- templates/components/main/blogs.html -->
{% load i18n %}
{% load static %}
<!-- Card Blog -->
<div class="sm:px-6 lg:px-8 lg:py-14 mx-auto bg-white py-10 sm:py-20">
    <!-- Title -->
    <div class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{% trans 'Explora nuestras últimas novedades' %}</h2>
        <p class="mt-1 text-gray-600 dark:text-gray-400">{% trans 'Hemos colaborado con familias y comunidades para potenciar su crecimiento integral.' %}</p>
    </div>
</div>
<!-- End Title -->

<!-- Card Blog -->
<div class="swiper-container ">
    <div class="swiper-wrapper">
        <!-- Loop through blogs -->
        {% for blog in blogs %}
            <div class="swiper-slide">
                <!-- Card -->
                <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                   href="{% url 'blog_detail' slug=blog.slug %}">
                    <div class="aspect-w-16 aspect-h-9">
                        <img class="w-full object-cover rounded-t-xl" src="{% static blog.get_main_image_url %}"
                             alt="Image Description">
                    </div>
                    <div class="p-4 md:p-5">
                        <p class="mt-2 text-xs uppercase text-gray-600 dark:text-gray-400">
                            {% translate blog.category %}
                        </p>
                        <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-gray-300 dark:group-hover:text-white">
                            {% translate blog.title %}
                        </h3>
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                            {% translate blog.description %}
                        </p>
                    </div>
                </a>
                <!-- End Card -->
            </div>
        {% endfor %}
    </div>
    <!-- End Card Blog -->
    <!-- End Grid -->
</div>