{% load i18n %}
<!-- donation_header.html -->

<article>
    <header class="mx-auto max-w-7xl px-6 pb-5 pt-2 sm:pt-20 lg:px-8 lg:pt-2 text-center">
        <h1 class="mt-2 text-3xl font-bold text-gray-900 sm:text-5xl">Together, Somos Uno: {% trans 'Transformando Vidas Familiares y Comunidades' %}</h1>
        <p class="mt-4 text-lg">{% trans 'Comprometidos con el crecimiento integral de las familias latinas. Promovemos la salud mental, física, emocional, alimentación y generamos oportunidades económicas.' %}</p>
    </header>
</article>
<!-- templates/components/index.html -->
